input[type="range"] {
    --track-fill: 0%;
    --thumb-offset: 0rem;
    --thumb-color: var(--blue);
    width: 18ch;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 1rem;
    background-color: var(--gray3);
    cursor: pointer;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
    border: none;
}

input[type="range"]:hover {
    --thumb-offset: 0.5rem;
}
input[type="range"]:focus-visible {
    box-shadow: 0 0 0 2px var(--teal);
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 1rem;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--thumb-color)),
        color-stop(0%, transparent)
    );
    background: linear-gradient(
        to right,
        var(--thumb-color) var(--track-fill),
        transparent 0%
    );
}

input[type="range"]::-moz-range-track {
    height: 4px;
    background: linear-gradient(
        to right,
        var(--thumb-color) var(--track-fill),
        transparent 0%
    );
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    /* border: 3px solid var(--bg); */
    background-color: var(--bg);
    position: relative;
    top: -7px;
    filter: brightness(2);
    /* -webkit-box-shadow: 0 0 0 var(--thumb-offset) rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 0 0 var(--thumb-offset) rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 4px hsla(0, 0%, 0%, .5);
    -webkit-transition: 100ms ease;
    transition: 100ms ease;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 3px solid var(--bg);
    background-color: var(--thumb-color);
    position: relative;
    top: -6px;
    box-shadow: 0 0 0 var(--thumb-offset) rgba(0, 0, 0, 0.2);
    -webkit-transition: 100ms ease;
    transition: 100ms ease;
}